.titulito{font-size: 100px; align-items: center;}
.titulote{font-size: 70px; align-items: center;}
.cancion{font-size: 25px; align-items: center;font-family: fantasy;}
body{background-color:red;}
head{background-color: blue}
header{background-color: green}
