body{background-color: rgb(144, 255, 255);}
.menu{font-size: 40px;
    letter-spacing: 1px;
    text-transform: capitalize;}
.logo{background-color: rgb(51, 245, 245);}
header{background-color: rgb(22, 243, 243);}
.cancion{
    font-size: 50px;
    width: 100px;
}
.titulo{font-size: 100px;}