<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos3.css') }}">
    <meta charset="utf-8">
    <title class="titulito">Estamos construyendo para su comodidad!</title>
  </head>
  <header>
    <p class="titulote">Estamos construyendo para usted!</p>
  </header>
  <body>
    <a class="cancion" href="https://www.youtube.com/watch?v=e321AjZyRas" target="_blank">Mientras oite este temon de los 90! </a><br>
    <img src='https://i.postimg.cc/wMGRM48Q/dos-jovenes-arquitectos-felices-masculinos-burlarse-oficina-23-2147843001.jpg' align="center" width="800" height="550" alt="principal iamgen del sitio">
  </body>

</html>
