<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Vacunador Online</title>
    <link rel="icon"
     tupe="image/png" href='https://i.postimg.cc/T2gvRNpw/1200px-Flag-of-Argentina-svg.png' border='0' alt='1200px-Flag-of-Argentina-svg'>
    <link rel="stylesheet" href="{{ url_for('static', filename='estilos.css') }}">
    </head>
<!-- /*comentarios con crtl + / */ -->
  <body>
    <header class="header">

    
      
        <figure class="logo">
          <img src='https://i.postimg.cc/VkmnCm96/vacuna-covid.jpg' align="center" width="1000" height="550" alt="principal iamgen del sitio">
        </figure>

    </header>
        <nav class="menu">
               
              <a href="/formulario_de_vacunacion">Formulario de vacunacion</a> <br> 

              <a href="/listado">Lista de candidatos anotados para la Vacuna</a><br>
            
            
              <a href="/configuracion_centros_de_vacunacion">Configuracion centros de vacunacion</a><br> 
            
            
              <a href="/calcular_asignacion_de_turnos">Calcular asignacion de turnos</a><br> 
            
          
              <a href="/listar_los_turnos_asignados">Listar los turnos asignados</a><br> 

              <a href="/pagina_en_construccion">Nueva Entrada Futura</a><br> 
              
          
        </nav>
        <img src="https://i.postimg.cc/ZRK5tPBP/55330322-401.jpg" width="1000" height="550" alt="principal iamgen del sitio"><br>
        <a class="cancion" href="https://www.youtube.com/watch?v=TxhlG_8ZhwQ" target="_blank">Para ver mas sobre el covid-19 Porfavor toque aqui!  </a>
      
    
    
    <footer class="footer"></footer>
  </body>
</html>
